:root{
--dark-color:#19283f;
--main-color:#33d1cc;
--gold-color: #ffc400;
--number-icon-color:#eff7fa;
}
.navbar{
background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
color: #f6f6f6;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
color: var(--main-color);
}
.search{
color: #f6f6f6;
border-left: 1px solid var(--main-color);
}
.navbar .navbar-toggler{
color: #f6f6f6;
font-size: 25px;
border-color: white;
}
.navbar .navbar-toggler:focus{
box-shadow: none;
}
.landing{
background-color: var(--dark-color); 
min-height: 100vh;
}
.main-title::after{
content: "";
position: absolute;
width: 120px;
height: 2px;
background-color: var(--main-color);
bottom: -20px;
left: 50%;
transform: translateX(-50%);
}
.features .icon-holder{
height: 200px;
}
.features .icon-holder i{
left: 50%;
transform: translateX(-50%);
}
.features .icon-holder i:nth-child(1){
color: var(--number-icon-color);
font-size: 12rem;
}
.features .icon-holder i:nth-child(2){
color: var(--main-color);
}
.features .feat h4{
color: var(--gold-color);
}
.our-work{
background-color: var(--number-icon-color);
}
.our-work ul li{
padding: 0.5rem 1rem;
cursor: pointer;
}
.our-work ul li:not(li.active):hover{
color: var(--main-color);
}
.our-work ul li.active{
background-color: var(--main-color);
}
.our-work .box{
padding: 5px;
overflow: hidden;
position: relative;
}
.our-work .row .box img{
height: 206px;
width: 100%;
}
.our-work .row .box::before{
content: attr(data-img);
position: absolute;
background-color: var(--main-color);
opacity: .5;
width: calc(100% - 10px);
height: calc(100% - 10px);
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
color: var(--gold-color);
transition: .3s;
font-size: 1.5rem;
transform: translateX(calc(100% - 5px));
}
.our-work .row .box:hover::before{
transform: translateX(0);
}
.stuff p{
max-width: 400px;
margin: 0 auto;
}
.stuff .row .image img{
width: 100%;
}
.our-teams{
background-color: var(--number-icon-color);
}
.our-teams h2{
color: var(--gold-color);
}
.our-teams h4{
background-color: var(--main-color);
}
.our-teams .row  img{
height: 218.9px;
}
@media(min-width:320px) and (max-width:991px){
.stuff .row .text h3,
.stuff .row .text p{
text-align: center;
}
.stuff .row .text button{
width: calc(100% - 100px);
margin: 0 40px;
}
}
.techs .row img{
width: 100px;
}
.project{
background-color: var(--dark-color);
}
.blog .row img{
height: 200px;
}
.blog button{
width: 101.14px;
display: block;
margin: 0 auto;
}
.subs{
background-color: var(--gold-color);
}
.subs input[type="text"]{
border: none;
border-bottom: 1px solid white;
}
.subs input[type="text"]:focus{
outline: none;
}
.subs input[type="text"]::placeholder{
color: white;
}
.subs input[type="submit"]{
background-color: var(--dark-color);
color: var(--gold-color);
}
.footer{
background-color: var(--dark-color);
}
.footer ul li:hover{
color: var(--gold-color);
}
.footer .copy-right span.bondi{
color: var(--gold-color);
font-weight: bold;
font-size: 25px;
}
@media(max-width:767px){
.contact ul{
display: flex;
justify-content: center;
align-items: center;
}
}
.footer .face{
color: #1877f2;
}
.footer .twit{
color: #1da1f2;
}
.footer .linked{
color: #0077b5;
}
.footer .yout{
color: #ff0000;
}


